<div class="authContainer" style="background-image: url('./assets/images/manager.jpg');">
  <div class="overlay"></div>

  <form name="loginForm" #userForm="ngForm" (ngSubmit)="login(userModel)">
    <div class="authBox">
      <img src="./assets/images/logo.jpg" width="200" alt="Logo" />
      <div class="formCont">
        <h2>Login</h2>

        <div class="fieldContainer">
          <input name="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="text"
            placeholder="Endereço de e-mail" [(ngModel)]="userModel.userName" required />

          <div *ngIf="email.errors && (email.invalid && email.touched)">
            <small class="text-danger" *ngIf="email.errors.required">E-mail é obrigatório</small>
            <small class="text-danger" *ngIf="email.errors.pattern">Digite um email válido</small>
          </div>

          <img src="./assets/images/svg/mail.svg" width="18" alt="email" />
        </div>
        <div class="fieldContainer">
          <input name="password" #pwd="ngModel" type="password" placeholder="Senha" [(ngModel)]="userModel.password"
            required pattern="^(?=.*\d).{6,15}$" />
          <div *ngIf="pwd.errors && (pwd.invalid && pwd.touched)">
            <small class="text-danger" *ngIf="pwd.errors.required">Senha requerida</small>
            <small class="text-danger" *ngIf="pwd.errors.pattern">Digite a senha válida</small>
          </div>
          <img src="./assets/images/svg/key.svg" width="18" alt="email" />
        </div>
        <div class="fieldContainer">
          <!-- <button [routerLink]="['/selectCompany']" (ng-click)="login()">LOGIN</button> -->
          <button type="submit" [disabled]="userForm.form.invalid">ENVIAR</button>
        </div>

        <div class="text-center"><a class="forgetPwd" [routerLink]="['/forgotPassword']">Esqueceu sua senha?</a></div>
      </div>
    </div>
  </form>

</div>
