<div class="vcContainer">
  <div class="vcHeader">
    <div class="mLogo">
      <!-- <a><img src="./assets/images/stefanini.png" height="26" alt="logo" /></a> -->
      <span>{{businessUnitName}}</span>
    </div>
    <div class="hLogo">
      <a><img src="./assets/images/logo.jpg" height="44" alt="logo" /></a>
      <a class="logout" title="Logout" [routerLink]="['/login']"><img src="./assets/images/logout.png" /></a>
    </div>
  </div>

  <div class="mainContainer">
    <router-outlet></router-outlet>
  </div>
</div>