<div class="vcContainer">
  <div class="vcHeader">

    <div class="mLogo">
      <a><img src="./assets/images/logo.jpg" height="44" alt="logo" /></a>
    </div>

    <!-- <div class="hLogo">

      <a class="logout" title="Logout" [routerLink]="['/login']"><img src="./assets/images/logout.png" /></a>
    </div> -->
    <ul class="navBarList">
      <li><a class="active">Casa</a></li>
      <li><a [routerLink]="['/managers']">Gerente</a></li>
    </ul>
    <div class="hLogo">
      <!-- <a class="proName">Paulo</a> -->

      <div class="dropdown">

        <a class="btn btn-primary dropdown-toggle proImgCont" data-toggle="dropdown">

          <img src="./assets/images/svg/avatar.svg" width="20" />
        </a>
        <div class="dropdown-menu  dropdown-menu-right">
          <!-- <div class="uploadProImg">
            <a>Upload Profile Image</a>
           <input type="file" />
          </div> -->
          <a class="dropdown-item logoutMenu" title="Logout" (click)="logout()"><img src="./assets/images/logout.png"
              width="16" alt="logout" /> &nbsp;Sair</a>

        </div>
      </div>

    </div>

  </div>

  <div class="mainContainer">
    <div class="scContainer">
      <div class="scBox">
        <h3>Controle visual do funcionário</h3>
        <div class="selectCompany">

          <select class="select-css" [(ngModel)]="businessId">
            <option *ngFor="let company of companyList;" value="{{company.id}}">{{company.name}}</option>
          </select>
        </div>
        <button (click)="selectCompany(businessId)">OK</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loaderFlag" class="app-loading" style="background-color:#FFFFFF; top:0px; position:absolute; width:100%; height:100%; display:flex; justify-content: center;
    align-items: center">
  <img src="assets/images/loader.gif" />
</div>