<div class="vcContainer">
  <div class="vcHeader">
    
    <div class="mLogo">
      <a><img src="./assets/images/logo.jpg" height="44" alt="logo" /></a>
    </div>

    <div class="hLogo">
    
      <a class="logout" title="Logout" [routerLink]="['/login']"><img src="./assets/images/logout.png" /></a>
    </div>
  </div>

  <div class="mainContainer">
    <div class="scContainer">
      <div class="scBox">
        <h3>Employee Visual Control</h3>
        <div class="selectCompany">
          <input list="company" placeholder="Select Company">

          <datalist id="company">
            <option value="Mitosis">
            <option value="Tata">
            <option value="Cognizant">
            <option value="Wipro">
            <option value="Mahindra">
          </datalist>
        </div>
        <button [routerLink]="['/vc']">SELECT</button>
      </div>
    </div>
  </div>
</div>
