<div class="authContainer" style="background-image: url('./assets/images/manager.jpg');">
  <div class="overlay"></div>

  <div  class="authBox">
    <img src="./assets/images/logo.jpg" width="200" alt="Logo"/>
    <div class="formCont">
    <h2>Forgot your Password?</h2>
      <p>Don't worry. Resetting the password is easy, Just tell us the email address you registered.</p>
    <div class="fieldContainer">
      <input type="text" placeholder="Email Address"/>
      <img src="./assets/images/svg/mail.svg" width="18" alt="email"/>
    </div>
  
    <div class="fieldContainer">
      <button [routerLink]="['/resetPassword']">SEND</button>
    </div>

    </div>
  </div>
</div>
