<div class="authContainer" style="background-image: url('./assets/images/manager.jpg');">
  <div class="overlay"></div>
  <form name="fpForm" #forgotForm="ngForm" (ngSubmit)="forgotPassword(userName)">
    <div class="authBox">
      <img src="./assets/images/logo.jpg" width="200" alt="Logo" />
      <div class="formCont">

        <h2>Forgot your Password?</h2>
        <p>Don't worry. Resetting the password is easy, Just tell us the email address you registered.</p>
        <div class="fieldContainer">
          <input name="emails" type="text" #emails="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            placeholder="Email Address" [(ngModel)]="userName" required />

          <div *ngIf="emails.errors && (emails.invalid || emails.touched)">
            <small class="text-danger" *ngIf="emails.errors.required">Email is required</small>
            <small class="text-danger" *ngIf="emails.errors.pattern">Enter valid email</small>
          </div>
          <img src="./assets/images/svg/mail.svg" width="18" alt="email" />
        </div>

        <div class="fieldContainer">
          <!-- <button [routerLink]="['/resetPassword']" (click)="forgotPassword()">SEND</button> -->
          <button type="submit" [disabled]="forgotForm.form.invalid">SEND</button>
        </div>
      </div>
    </div>
  </form>
</div>