<div class="authContainer" style="background-image: url('./assets/images/manager.jpg');">
  <div class="overlay"></div>
  <form name="fpForm" #forgotForm="ngForm" (ngSubmit)="forgotPassword(userName)">
    <div class="authBox">
      <img src="./assets/images/logo.jpg" width="200" alt="Logo" />
      <div class="formCont">

        <h2>Esqueceu sua Senha?</h2>
        <p>Não se preocupe. Reiniciar sua senha é simple, basta você nos informar seu endereço de e-mail registrado na plataforma.</p>
        <div class="fieldContainer">
          <input name="emails" type="text" #emails="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            placeholder="Endereço de e-mail" [(ngModel)]="userName" required />

          <div *ngIf="emails.errors && (emails.invalid || emails.touched)">
            <small class="text-danger" *ngIf="emails.errors.required">Precisa informar seu endereço de e-mail! </small>
            <small class="text-danger" *ngIf="emails.errors.pattern">por favor digite um email válido</small>
          </div>
          <img src="./assets/images/svg/mail.svg" width="18" alt="email" />
        </div>

        <div class="fieldContainer">
          <!-- <button [routerLink]="['/resetPassword']" (click)="forgotPassword()">SEND</button> -->
          <button type="submit" [disabled]="forgotForm.form.invalid">ENVIAR</button>
        </div>
      </div>
    </div>
  </form>
</div>
