

.authContainer{
  width:100%;
  min-height:100vh;
  background-color: #5788ef;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-size: cover;
  padding: 0px 10%;
  .overlay{
    width:100%;
    height:100%;
    position:absolute;
    background-color: rgba(0,0,0,0.1);
    right:0px;
    top:0px;
  }
  .authBox{
    width:460px;
    max-width:100%;
    min-height:300px;
    background-color:#FFFFFF;
    border-radius:8px;
    position:relative;
    z-index:2;
    padding:40px;
   
    img{
      margin:0px auto;
      display: block;
    }
    h2{
      text-align:center;
      margin:20px 0px 12px;
      font-size:24px;
      font-weight: 600;
    }
    p{
      text-align:center;
      margin-bottom:20px;
      color:#8e8c8c;
      line-height:20px;
      font-size:15px;
    }
    .forgetPwd{
      font-size:13px;
      color:#5788ef;
      margin-top: 10px;
      display: inline-block;
      cursor:pointer;
    }
    .fieldContainer{
      width:100%;
      margin-bottom:10px;
      position:relative;
      z-index: 1;
      img{
        position: absolute;
        left:14px;
        top:9px;
        z-index:2;
        opacity: 0.5;
      }
      small{
        margin-left:46px;
        font-size:14px;
        margin-bottom:10px;
        margin-top:5px;
        display:inline-block;
      }
      input{
        width:100%;
        height:36px;
        border:1px solid #c7c4c4;
        border-radius:20px;
        padding-left:45px;
        font-size:14px;
        z-index:1;
      }
      input::placeholder{
        color:#c5c3c3;
      }
      button{
        width:100%;
        background-color: #5788ef;
        border:none;
        height:44px;
        color:#FFFFFF;
        border-radius:22px;
        margin-top:10px;
        font-size:16px;
        letter-spacing: 1px;
        font-weight: 500;
      }
      
      
    }
  }

}


/* TOASTR BUGFIX */
#toast-container > div {
  opacity: 1;
}
.toast {
  font-size: initial !important;
  border: initial !important;
  backdrop-filter: blur(0) !important;
}
.toast-success {
  background-color: #51A351 !important;
}
.toast-error {
  background-color: #BD362F !important;
}
.toast-info {
  background-color: #2F96B4 !important;
}
.toast-warning {
  background-color: #F89406 !important;
}