<div class="managerListCont">
 




  <div class="addManagerCont">
    
      <div class="addManagerForm">
        <form name="manager" >
          <h2>Gerente</h2>
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="formCont">
                    <label>Primeiro nome</label>
                    <input type="text"  name="firstName"  required />
                    
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="formCont">
                    <label>Último nome</label>
                    <input type="text" name="lastName"  required />
                  
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="formCont">
                    <label>O email</label>
                    <input type="text"  name="userName"
                       required />
                  
  
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="formCont">
                    <label>Select Company</label>
                    <select>
                      <option>Company</option>
                    </select>
                  
  
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="formCont">
                    <label>Senha</label>
                    <input type="password"  name="password"  required />
                  
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="formCont">
                    <label>Confirme a Senha</label>
                    <input type="password"  name="confirmPassword"
                      required />
                  
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="proPicture">
                <p>Foto do perfil</p>
                <div class="imgCont">
                  <img src="./assets/images/user.png" width="120" />
                </div>
                <a>
                  <input type="file" name="user"  />
                  Squeaky toy
                </a>
              </div>
            </div>
          </div>
          <button type="submit" >ENVIAR</button>
        </form>
      </div>
    
  </div>


  </div>
