<div class="vcContainer">
  <div class="vcHeader">

    <div class="mLogo">
      <a><img src="./assets/images/logo.jpg" height="44" alt="logo" /></a>
    </div>

    <!-- <div class="hLogo">

      <a class="logout" title="Logout" [routerLink]="['/login']"><img src="./assets/images/logout.png" /></a>
    </div> -->
    <ul class="navBarList">
      <li><a [routerLink]="['/selectCompany']">Home</a></li>
      <li><a class="active" [routerLink]="['/selectCompany']">Manager</a></li>
    </ul>
    <div class="hLogo">
      <a class="proName">Paulo</a>
      <div class="dropdown">

        <a class="btn btn-primary dropdown-toggle proImgCont" data-toggle="dropdown">
          
          <img src="./assets/images/svg/avatar.svg" width="20" />
        </a>
        <div class="dropdown-menu  dropdown-menu-right">
          <a class="dropdown-item" title="Logout" >Logout</a>

        </div>
      </div>

    </div>

  </div>

  <div class="mainContainer">
    <router-outlet></router-outlet>
  </div>
</div>
