<div class="homeCont">
  <div class="sidebar">
    <div class="statusBox">
      <h4>Status</h4>
      <ul class="status">
        <li><a class="normal"><span></span>Normal</a></li>
        <li><a class="occurrence"><span></span>Occurrence</a></li>
        <li><a class="inactive"><span></span><label>It hasn't hit the point yet, But it's off the hour acting</label></a></li>
      </ul>
    </div>

    <div class="occAlert">
      <button [routerLink]="['/vc/clients']">Occurrence Alert : <strong>MG</strong></button>
    </div>
  </div>
  <div class="mainCont">
    <h1>Employee Visual Control</h1>
    <p><a>Home</a> > <span>Clients by location</span></p>
    <div class="contBox">
      <h2>Clients by location</h2>
      <img src="./assets/images/map.png" alt="map"/>
    </div>
  </div>
</div>
