<div class="homeCont">
  <div class="sidebar">
    <div class="statusBox">
      <h4>Status</h4>
      <ul class="status">
        <li><a class="normal"><span></span>Normal</a></li>
        <li><a class="occurrence"><span></span>Occurrence</a></li>
        <li><a class="inactive"><span></span><label>It hasn't hit the point yet, But it's off the hour acting</label></a></li>
      </ul>
    </div>

    <div class="occAlert">
      <div *ngFor="let sta of locationCoordinates">
        <button *ngIf="sta.status == 2">Occurrence Alert : <br/><strong>{{sta.name}}</strong></button>
      </div>
      
    </div>
  </div>
  <div class="mainCont">
    <h1>Employee Visual Control</h1>
    <p><a [routerLink]="['/selectCompany']">Home</a> > <span>Clients by location</span></p>
    <div class="contBox">
      <h2>Clients by location</h2>
      <!-- <img src="./assets/images/clientsByLocation.png" alt="map"/> -->
      <div class="row mt-5">
          <div class="col-md-12 mx-auto">
              <h2 class="text-left">Google Map</h2>
              <div class="card mt-3">
                  <div class="card-body">
                      <div #mapRef style="width:100%;height:400px"></div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
