.homeCont{
  display:flex;
  width:100%;
  .sidebar{
    height:calc(100vh - 56px);
    width:300px;
    min-width:250px;
    background-color:#303346;
    position:relative;
    padding:30px 20px;
    .occAlert{
      margin-top:20px;
      button{
        margin-bottom:10px;
        border:3px solid #f80000;
        border-radius:10px;
        height:42px;
        font-size:16px;
        background-color: #FFFFFF;
        color:#f80000;
        width:100%;
        font-weight: 500;
        strong{
          font-weight: 600;
        }
      }
    }
    .statusBox{
      background-color: #252935;
      padding:15px;
      border-radius:5px;
    }
    h4{
      color:#FFFFFF;
      font-weight: 500;
      font-size:18px;
      margin-bottom:10px;
      border-bottom:1px solid rgba(255,255,255,0.1);
      padding-bottom:12px;
    }
    .status{
      margin:0px;
      padding:0px;
      li{
        list-style-type: none;
        margin:10px 15px 10px 0px;
        a{
          color:#FFFFFF;
          font-size:12px;
          display: flex;
          align-items: center;
          line-height:18px;
          font-weight:300;
          span{
            width:15px;
            height:15px;
            border-radius:50%;
            display:inline-block;
            margin-right:7px;
            border:2px solid rgba(255,255,255,0.5);
          }
          label{
            flex:1 1;
          }
         
        }
        a.normal span{ background-color: #1dab24;}
        a.occurrence span{ background-color: #f80000;}
        a.inactive span{  background-color: #d6d6d6;}
        
      }
    }
  }
  .mainCont{
    padding:20px 0px 20px 20px;
    width:100%;
    h1{
      font-weight: 600;
      font-size:24px;
    }
    p{
      margin-top:5px;
      color:#000000;
      font-weight: 600;
      font-style: italic;
      font-size: 12px;
      a{
        color:#4471c4;
        cursor:pointer;
        font-weight: 400;
      }
      span{
        color:#8C8C8C;
        font-weight: 400;
      }
    }
    .contBox{
      width:100%;
      background-color:#FFFFFF;
      padding:20px;
      border-radius:5px;
      margin-top:10px;
      min-height:300px;
      h2{
        font-weight: 500;
        font-size:18px;
        margin-bottom:10px;
        margin-top:10px;
      }
    }
  }
}
.card-body{
  padding:0px;
}
.gmnoprint{
  display:none;
}
@media only screen and (max-width: 900px) {
  .homeCont{
    flex-direction: column;
  }
  .mainCont{
    padding-left:0px !important;
  }
  .sidebar{
    display: flex;
    flex-direction: column;
    width:100% !important;
    max-height:160px !important;
    padding:5px !important;
    .mapThumb{
      padding:5px !important;
      img{
        width:60px;
      }
    }
    .status{
      display: flex !important;
    }
    .statusBox{
      margin-left:0px;
    }
    h4{
      margin-bottom: 2px !important;
    }
  }
  .occAlert{
    margin-top:5px !important
  }
  .occAlert button{
    max-width:200px !important;
    margin-left:10px;
    margin-right:28px;
  }
}
