<div class="addManagerCont">
  <div class="container">
    <div class="addManagerForm">
      <form>
        <h2>Add Manager</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="formCont">
                  <label>First Name</label>
                  <input type="text" />
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="formCont">
                  <label>Last Name</label>
                  <input type="text" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="formCont">
                  <label>Email</label>
                  <input type="text" />
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="formCont">
                  <label>Username</label>
                  <input type="text" />
                </div>
              </div>
              
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="formCont">
                  <label>Password</label>
                  <input type="text" />
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="formCont">
                  <label>Confirm Password</label>
                  <input type="text" />
                </div>
              </div>
              
            </div>

            

          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="proPicture">
              <p>Profile Picture</p>
              <div class="imgCont">
             
                <img src="./assets/images/user.png" width="120"/>
                
              </div>
              <a>
                <input type="file" name="user" /> 
                Browse
                
              </a>
            </div>
          </div>

          
        </div>
        <button>SUBMIT</button>
      </form>
    </div>
  </div>
</div>
