<div class="homeCont">
  <div class="sidebar">
    <div class="mapThumb">
      <img src="./assets/images/mapthumb.png" alt="Thumb" />
      <p>Minas Gerais</p>
    </div>
    <div class="statusBox">
      <h4>Status</h4>
      <ul class="status">
        <li><a class="normal"><span></span>Normal</a></li>
        <li><a class="occurrence"><span></span>Occurrence</a></li>
        <li><a class="inactive"><span></span>No-Operation</a></li>
      </ul>
    </div>


  </div>
  <div class="mainCont">
    <h1>Employee Visual Control</h1>
    <p><a [routerLink]="['/selectCompany']">Home</a> > <a [routerLink]="['/vc/home']">Clients by location</a> > <a
        [routerLink]="['/vc/clients']">Customers</a> > <span>Collaborators</span></p>
    <div class="contBox">
      <h2>Collaborators</h2>
      <table>
        <thead>
          <tr>
            <th>Collaborator</th>
            <th class="text-center">Alers</th>
            <th>Status</th>
            <th>Locale</th>
            <th>Responsible</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let collaborator of collaboratorsList;">
            <td>{{collaborator.name}}</td>
            <td class="text-center">
              <span class="normal" *ngIf="collaborator.status=='Normal'"></span>
              <span class="occurrence" *ngIf="collaborator.status=='Occurrence'"></span>
              <span class="no-Operation" *ngIf="collaborator.status=='No-Operation'"></span>

            </td>
            <td>{{collaborator.status}}</td>
            <td>{{collaborator.address.stateName}}</td>
            <td>{{collaborator.resonsible}}</td>
          </tr>
          <!-- <tr>
            <td>Cliente 02</td>
            <td  class="text-center"><span class="occurrence"></span></td>
            <td>Late collaborator <br/>Collaborator did not attend <br/> Collaborator left early</td>
            <td>Bunge-BETIN MG</td>
            <td>Supervisor-(JOAO Silva-034 4567 8900)</td>
          </tr>
        
          <tr>
            <td>Namo Colborador 03</td>
            <td  class="text-center"><span class="normal"></span></td>
            <td>Normal</td>
            <td>Endereco Unidade</td>
            <td>Supervisor-(Contato)</td>
          </tr>
          <tr>
            <td>Namo Colborador 04</td>
            <td  class="text-center"><span class="normal"></span></td>
            <td>Normal</td>
            <td>Endereco Unidade</td>
            <td>Supervisor-(Contato)</td>
          </tr> -->
        </tbody>
      </table>

      <button class="largeBtn">Record Occurrence</button>
    </div>
  </div>
</div>
