
<div class="authContainer" style="background-image: url('./assets/images/manager.jpg');">
  <div class="overlay"></div>

  <div  class="authBox">
    <img src="./assets/images/logo.jpg" width="200" alt="Logo"/>
    <div class="formCont">
    <h2>Reset Password</h2>
      
    <div class="fieldContainer">
      <input type="text" placeholder="Password"/>
      <img src="./assets/images/svg/key.svg" width="18" alt="Password"/>
    </div>
    <div class="fieldContainer">
      <input type="text" placeholder="Confirm Password"/>
      <img src="./assets/images/svg/key.svg" width="18" alt="Password"/>
    </div>

    <div class="fieldContainer">
      <button [routerLink]="['/login']">RESET</button>
    </div>

    </div>
  </div>
</div>
