<div class="authContainer" style="background-image: url('./assets/images/manager.jpg');">
  <div class="overlay"></div>
  <form name="resetForm" #resetForm="ngForm" (ngSubmit)="resetPassword(resetModel)">
    <div class="authBox">
      <img src="./assets/images/logo.jpg" width="200" alt="Logo" />
      <div class="formCont">
        <h2>Reiniciar sua Senha</h2>

        <div class="fieldContainer">
          <input type="password" #pwd="ngModel" name="pwd" placeholder="Senha" required
            [(ngModel)]="resetModel.password" />


          <div *ngIf="pwd.errors && (pwd.invalid || pwd.touched)">
            <small class="text-danger" *ngIf="pwd.errors.required">Senha requerida</small>
            <small class="text-danger" *ngIf="pwd.errors.pattern">Digite a senha válida</small>
          </div>

          <img src="./assets/images/svg/key.svg" width="18" alt="Password" />
        </div>
        <div class="fieldContainer">
          <input type="password" #resetpwd="ngModel" name="resetpwd" placeholder="Conﬁrme sua senha" required
            [(ngModel)]="resetModel.confirmPassword" />
          <div *ngIf="resetpwd.errors && (resetpwd.invalid || resetpwd.touched)">
            <small class="text-danger" *ngIf="resetpwd.errors.required">Conﬁrme senha requerida</small>
            <small class="text-danger" *ngIf="resetpwd.errors.pattern">Digite a senha de confirmação válida</small>
          </div>
          <img src="./assets/images/svg/key.svg" width="18" alt="Conﬁrme sua senha" />
        </div>

        <div class="fieldContainer">
          <button type="submit" [disabled]="resetForm.form.invalid" style="text-transform: uppercase;">Reiniciar</button>
        </div>

      </div>
    </div>
  </form>
</div>
