<div class="managerListCont">
  <div class="dFlex">
    <h2>Managers</h2>
    <a [routerLink]="['/managers/add']">Add Managers</a>
  </div>
  


  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Company</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <td>Paulo</td>
        <td>paulo@gmail.com</td>
        <td>9867568798</td>
        <td>Employee Visual Control</td>
        <td>
          <a class="editIcon" title="edit"><img src="./assets/images/svg/pencil.svg" width="20"/></a>
          <a title="Delete"><img src="./assets/images/svg/quit.svg" width="20"/></a>
        </td>
      </tr>
      
    </tbody>
  </table>


</div>
 