<div class="managerListCont">
  <div class="dFlex">
    <h2>Gerentes</h2>
    <a (click)="routeToManagerCreation()">Adicionar gerentes</a>
  </div>



  <table>
    <thead>
      <tr>
        <th>Primeiro nome</th>
        <th>Último nome</th>
        <th>Email</th>

        <th>Companhia</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody *ngFor="let manager of managerList;">

      <tr>
        <td>{{manager.firstName?manager.firstName:'NA'}}</td>
        <td>{{manager.lastName?manager.lastName:'NA'}}</td>
        <td>{{manager.email?manager.email:'NA'}}</td>

        <td>{{manager.business?manager.business.name:'NA'}}</td>
        <td>
          <a class="editIcon" (click)="routeToEditManger(manager.id)" title="edit"><img
              src="./assets/images/svg/pencil.svg" width="20" /></a>
          <!-- <a title="Delete" (click)="deleteManager(manager.id)"><img src="./assets/images/svg/quit.svg"
              width="20" /></a> -->
        </td>
      </tr>

    </tbody>
  </table>


</div>

<div *ngIf="loaderFlag" class="app-loading" style="background-color:#FFFFFF; top:0px; position:absolute; width:100%; height:100%; display:flex; justify-content: center;
    align-items: center">
  <img src="assets/images/loader.gif" />
</div>